@import url('https://fonts.googleapis.com/css2?family=Wendy+One&family=Work+Sans&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a,
a:visited {
  text-decoration: none;
  color: #fff;
}

body {
  background: #3a3939;
  color: #fff;
  font-family: 'Work Sans', sans-serif;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.nav__logo {
  padding: 10px 0px 0px 20px;
  cursor: pointer;
  font-family: 'Wendy One', sans-serif;
  font-size: 2.3rem;
}

.nav__list {
  display: flex;
  flex-direction: row;
  padding-right: 20px;
  list-style: none;
}

.nav__link {
  padding: 0.5em;
  color: #fff;
  background: transparent;
  transition: all 0.5s ease;
}

.nav__link:hover {
  border-radius: 5px;
  background: #cfcfcf;
  color: black;
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 90vh;
}

.letter-box-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.letter-box-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1100px;
  padding: 5em 2em;
}

.letter-box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid rgb(102, 101, 101);
  color: white;
  font-size: 2rem;
  border-radius: 3px;
  width: 3em;
  height: 3em;
  background: rgba(61, 163, 158, 0.603);
  box-shadow: 5px 5px 5px 5px rgba(49, 48, 48, 0.603);
  text-transform: uppercase;
  outline: none;
}

.letter-box:hover {
  border: 1px solid rgb(79, 196, 137);
}

.letter-box:focus {
  border: 2.9px solid rgb(221, 248, 101);
}

.box--fail {
  border: 2px solid red;
  animation: fail 0.2s ease;
}

@keyframes fail {
  50% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(5px);
  }
}

@media (max-width: 800px) {
  .letter-box {
    width: 2.5em;
    height: 2.5em;
  }
}

@media (max-width: 550px) {
  .letter-box {
    width: 2em;
    height: 2em;
  }
}

@media (max-width: 465px) {
  .letter-box {
    width: 1.5em;
    height: 1.5em;
  }
}

.question-section {
  width: 100%;
}

.question-container {
  width: 100%;
  padding: 0 1em 5em 1em;
  font-size: 1.2rem;
}

.question {
  color: rgb(156, 156, 156);
}

.info-section {
  width: inherit;
}

.info-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.time-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
  width: 80px;
  border: 2px solid rgba(26, 201, 35, 0.822);
  border-radius: 10px;
  background: rgb(212, 210, 210);
  color: black;
  padding: 10px 20px;
  box-shadow: 5px 5px 5px 5px rgba(49, 48, 48, 0.603);
}

.score-container {
  width: 80px;
  padding: 2px;
  border-radius: 5px;
  line-height: 40px;
  background: linear-gradient(to right, rgb(89, 173, 70), rgb(32, 207, 76));
  color: white;
  font-weight: bolder;
}

.score--increase {
  animation: score-increase 0.7s ease-in-out;
}

@keyframes score-increase {
  100% {
    transform: scale(1.5);
  }
}

#score {
  letter-spacing: 2px;
}

.pass-container {
  width: 100px;
  padding: 2px;
  border-radius: 5px;
  line-height: 40px;
}

#pass-btn {
  width: 100%;
  border: none;
  background: transparent;
  padding: 5px 2px;
  border-radius: 5px;
  color: white;
  font-size: 1.2rem;
  transition: all 0.7s ease;
  letter-spacing: 1.8px;
}

#pass-btn:hover {
  cursor: pointer;
  background: whitesmoke;
  color: black;
}
