.info-section {
  width: inherit;
}

.info-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.time-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
  width: 80px;
  border: 2px solid rgba(26, 201, 35, 0.822);
  border-radius: 10px;
  background: rgb(212, 210, 210);
  color: black;
  padding: 10px 20px;
  box-shadow: 5px 5px 5px 5px rgba(49, 48, 48, 0.603);
}

.score-container {
  width: 80px;
  padding: 2px;
  border-radius: 5px;
  line-height: 40px;
  background: linear-gradient(to right, rgb(89, 173, 70), rgb(32, 207, 76));
  color: white;
  font-weight: bolder;
}

#score {
  letter-spacing: 2px;
}

.pass-container {
  width: 100px;
  padding: 2px;
  border-radius: 5px;
  line-height: 40px;
}

#pass-btn {
  width: 100%;
  border: none;
  background: transparent;
  padding: 5px 2px;
  border-radius: 5px;
  color: white;
  font-size: 1.2rem;
  transition: all 0.7s ease;
  letter-spacing: 1.8px;
}

#pass-btn:hover {
  cursor: pointer;
  background: whitesmoke;
  color: black;
}
