.letter-box-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.letter-box-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5em 2em;
}

.letter-box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid rgb(102, 101, 101);
  color: white;
  font-size: 2rem;
  border-radius: 3px;
  width: 5rem;
  height: 5rem;
  background: rgba(61, 163, 158, 0.603);
  box-shadow: 5px 5px 5px 5px rgba(49, 48, 48, 0.603);
  text-transform: uppercase;
  outline: none;
}

.letter-box:hover {
  border: 1px solid rgb(79, 196, 137);
}

.letter-box:focus {
  border: 2.9px solid rgb(221, 248, 101);
}

@media (min-width: 1000px) {
  .letter-box-container {
    width: 60%;
  }
}
