.primary-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.options-lst {
  display: flex;
  padding: 0px 20px 0px 0px;
  flex-direction: row;
  list-style: none;
}

.option {
  margin: 0 5px;
  padding: 5px;
  transition: all 0.5s ease;
  margin-bottom: 5px;
  background: transparent;
}

.option:hover {
  border-radius: 5px;
  background: rgb(207, 207, 207);
  color: black;
  cursor: pointer;
}

.text-logo {
  padding: 10px 0px 0px 20px;
  font-family: 'Wendy One', sans-serif;
  font-size: 2.3rem;
}

.text-logo:hover {
  cursor: pointer;
}
