.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.start-container {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

#start-btn {
  padding: 10px;
  font-size: 2rem;
  letter-spacing: 3px;
  border: none;
  background: transparent;
  color: rgb(165, 163, 163);
  transition: color 1.1s ease;
  margin-top: 10px;
}

#start-btn:hover {
  color: white;
  cursor: pointer;
}

.hidden {
  display: none;
}
