.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.start-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 30%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

#start-btn {
  padding: 10px;
  font-size: 2rem;
  letter-spacing: 3px;
  border: none;
  background: transparent;
  color: rgb(165, 163, 163);
  transition: color 1.1s ease;
  margin-top: 10px;
}

#start-btn:hover {
  color: white;
  cursor: pointer;
}

.dev-link {
  transition: all 0.5s ease;
}

.dev-link:hover {
  color: black;
}

.hidden {
  display: none;
}
